.whats-focus {
  font-size: 1rem;
  text-shadow: 1px 1px 2px var(--gray);
}

.TODAY {
  text-align: center;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 2px var(--gray);
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.user-name-input {
  font-family: 'Press Start 2P',
    cursive;
  color: var(--white);
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--white);
  width: 30%;
  font-size: 1.5rem;
  text-align: center;
}

.name-input:focus {
  outline: none;
}

.focus-form {
  display: flex;
  gap: 3rem;
}

.visible {
  visibility: visible;
}

.hidden {
  display: none;
}

.focus {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.489);
  padding: .8rem 2rem;
  border-radius: 5px;
}

.focus-completed {
  text-decoration: line-through;
}

@media(max-width:450px){
  .focus {
    padding: .2rem 1rem;
  }
  .whats-focus {
    font-size: .7rem;
    text-align: center;
  }
}