.quote-and-author {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 60vw;

}

.quote,
.quote-author {
  font-size: .8rem;
  text-shadow: 1px 1px 2px var(--gray);
}

.quote-author {
  text-align: end;
  padding-right: 2rem;
}

@media(max-width:450px){
  .quote,
  .quote-author {
  font-size: .5rem;
}
}