.weather-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .7rem;
  right: 1rem;
  top: 1rem;
  border: 1px solid rgb(100, 100, 100);
  padding: .7rem;
  border-radius: 5px;
}

.weather-temp {
  font-size: 1rem;
}

.weather-icon {
  width: 5rem;
}

.weather-desc {
  font-size: .5rem;
}

.weather-place {
  font-size: .7rem;
}