.time {
  font-size: 9rem;
  /* -webkit-text-stroke: 1px black; */
  text-shadow: 1px 2px 3px var(--black);
}

.date {
  letter-spacing: .7rem;
  font-size: 1rem;
  text-shadow: 1px 1px 2px var(--gray);
}